<div class="col-sm-8 col-sm-offset-2">

<h1 class="text-center">
  Bodyparts
</h1>
<div class="home_link_list"><p><%= link_to 'New Body Part', new_bodypart_url %></p></div>
<table class="table">
  <th>Name</th>
  <th colspan="2">Actions</th>
  <% @bodyparts.each do |bodypart| %>
    <tr>
      <td><%= bodypart.name %></td>
      <td><%= link_to 'Edit', edit_bodypart_path(bodypart), class:"btn btn-warning" %></td>
      <td>
        <%= link_to 'Delete', bodypart, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>

</div>

