<h1 class="text-center">
  Bodyparts
</h1>
<div class="home_link_list"><p><%= link_to 'New Body Part', new_bodypart_url %></p></div>
<table class="table">
  <th>
    Name
  </th>
  
  <% @bodyparts.each do |b| %>
    <tr>
      <td>
        <%= b.name %>
      </td>
    </tr>
  <% end %>
</table>

