<h1 class="text-center">
  Manage Practices
</h1>
</br>
<table class="table">
  <th>
    Name
  </th>
  <th colspan="2">Actions</th>
  <% @practices.each do |p| %>
    <tr>
      <td><%= p.name %></td>
      <td><%= link_to 'Edit', edit_practice_path(p), class:"btn btn-warning" %></td>
      <td>
        <%= link_to 'Delete', p, method: :delete, class:"btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>

<div class="home_link_list">
  <p>
    <%= link_to 'New Practice', new_practice_url %>
  </p>
</div>
