<% if @translates.present? %>
	<% unless params[:modal].present? %>
		<h1>Create New Translation</h1>
	<% end %>
	<%= render "form" %>
<% else %>
	<div class=""> You already translated this question in every language. </div> 
<% end %>